.page__content {
  margin-top: 56px;
  margin-bottom: 92px;
  max-width: 1280px;
  box-sizing: border-box;
}

@media screen and (max-width: 1152px) {
  .page__content {
      margin-top: 48px;
      max-width: 1024px;
  }
}

@media screen and (max-width: 896px) {
  .page__content {
      margin-bottom: 88px;
      max-width: 768px;
  }
}

@media screen and (max-width: 544px) {
  .page__content {
      margin-bottom: 64px;
      max-width: 320px;
  }
}
