.place__paragraph {
  margin-top: 0;
  margin-bottom: 26px;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1152px) {
  .place__paragraph {
      max-width: 456px;
  }
}

@media screen and (max-width: 896px) {
  .place__paragraph {
      max-width: 352px;
      font-size: 16px;
      margin-bottom: 25px;
  }
}

@media screen and (max-width: 544px) {
  .place__paragraph {
      max-width: 288px;
  }
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}


