.cover__title {
  margin: 0 0 16px;
  color: #ffffff;
  max-width: 560px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 568px) {
  .cover__title {
      font-size: 32px;
      line-height: 1.09;
      margin: 0 0 8px;
      max-width: 288px;
  }
}

